{% extends "./layout.html" %}

{% set title = "Tell Us About Your Journeys!" %}

{% block content %}

<!-- .container is main centered wrapper -->
  <header class="blogHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row mobile-wide">
          <div class="one-half column left center">
            <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
            <figcaption style="display:none;">Join the Journey! | Traveling Children Project</figcaption>
            <p><strong>Welcome Travelers to the Journey Blog!</strong></br>Here you can share your journey with other Travelers and also see where their travels have led them.</br> Create posts of your journeys to collect Travel Tokens for admission discounts and other great prizes!
            </p>
          </div>
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

    <section class="whtSection">
      <article class="container">
        <h6 class="textDrkBrwn25 center">A FEW WORDS FROM OUR SPONSORS</h6>
        <div class="row-wide">
          <div class="column center">
            <div class="img200 center"><img src="images/sponsors/tcp-sponsor-ad-6-200x200.jpg"></div>
            <div class="img200 center"><img src="images/sponsors/tcp-sponsor-ad-7-200x200.jpg"></div>
            <div class="img200 center"><img src="images/sponsors/tcp-sponsor-ad-8-200x200.jpg"></div>
            <div class="img200 center"><img src="images/sponsors/tcp-sponsor-ad-9-200x200.jpg"></div>
          </div>
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section>

    <div class="triangleWht mobile-hide" style="left:48.5%;"></div>

    <section class="bluStripes blogSection">
      <article class="container mobile-wide">
        <h5 class="textOrg" style="margin-top:50px;padding:5px;"><b>Where has TC taken you?</b> Click the button below to begin sharing your journey</br> and collect Travel Tokens for admission discounts and other great prizes!</h5>
        <div class="blogButton hvr-rotate"><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div class="row-wide grid">
          {% for journey in journeys %}
          <div class="one column">

            <div class="blogPost grid-post" data-journey-uuid="{{ journey.uuid }}" id="{{ journey.uuid }}">
              <p class="blogTitle">TC Journey to {{ journey.title }}</p>
              {% if journey.header_image_filename !== NULL %}
              <!-- <img src="images/tc-journey-disney-magic-kingdom.jpg" class="blogImg"> -->
              <img src="images/{{ journey.header_image_filename }}" class="blogImg">
              {% endif %}
              <figcaption style="text-align:left;"><small><span class="blogTraveler"><a href="#"><b><em>Traveling {{ journey.traveler_name }}</em></b></a></span><span class="blogDate">{{ JSON.stringify(journey.date) }}</span></small></figcaption>
              <p class="blogBody">{{ journey.body }} </br>
                <small class="blogHash" style="margin:0rem;"><em>#TravelingChristian #HappyTravels </em></small>
              </p>

              <div class="faBlogPost">
              <hr class="bpDivider">
              <div class="bpDropup">
                <ul>
                  <li class="share-with-facebook share-button">
                    <a><i class="fa fa-facebook-square"></i> Facebook</a>
                  </li>
                  <li class="share-with-twitter share-button" data-sharing-url="{{ twitter_url }}">
                    <a><i class="fa fa-twitter"></i> Twitter</a>
                  </li>
                  <li class="share-with-pinterest share-button">
                    <a><i class="fa fa-pinterest-square"></i> Pinterest</a>
                  </li>
                  <li class="share-with-tumblr share-button">
                    <a><i class="fa fa-tumblr-square"></i> Tumblr</a>
                  </li>
                  <li class="share-with-envelope">
                    <a href="#"><i class="fa fa-envelope-square"></i> Email</a>
                  </li>
                </ul>
              </div><!-- ./bpDropup -->

                <a title="Share"><i class="fa fa-send"></i></a>
                <a class="like-button" title="Like">
                  <i class="fa fa-heart {{ }}"></i>
                </a>
                {% if user == journey.uuid %}
                <a href="#" title="Edit">
                  <i class="fa fa-pencil journeyEditButton" data-toggle="modal" data-target="#journeyModal"></i>
                </a>
                <a href="/journeys/delete/{{ journey.uuid }}" title="Delete" class="postDeleteButton">
                  <i class="fa fa-close" style="font-size:2.875rem;"></i>
                </a>
                {% else %}
              </div><!-- ./faBlogPost -->
              {% endif %}

            </div><!-- /.blogPost -->

          </div><!-- /.one .column -->
        {% endfor %}
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section><!-- /.bluStripes -->


    {% include "./footer.html" %}

{% endblock %}
