{% extends "./layout.html" %}

{% set title = "Welcome to the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="blogHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row">
          <div class="one-half column left center">
            <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
            <p><strong>Welcome Travelers to the Journey Blog!</strong></br>Here you can share your journey with other Travelers and also see where their travels have led them. Create posts of your journeys to collect Travel Tokens for admission discounts and other great prizes!
            </p>
          </div>
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

    <section class="whtSection">
      <article class="container">
        <div class="row">
          <div class="one-half column left">1/2</div>
          <div class="one-half column right">1/2</div>
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section>

    <section class="bluSection">
      <article class="container">
        <div class="row">
          <div class="one column">1 col</div>
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section>


    {% include "./footer.html" %}

{% endblock %}
