{% extends "./layout.html" %}

{% set title = "Contact About the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="prplStripes">

    {% include "./navbar.html" %}

    <article class="container">
      <div class="row-wide mobile-wide">
        <div class="single300 center">
          <img style="padding-top:1rem;" class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
            <h6 class="textOrg">Contact Us</h6>

            <!-- CONTACT FORM -->
            <form class="border">
              <div class="row mobile-wide" style="margin-left:0rem;">
                <div class="columns u-full-width">
                  <input class="u-full-width" type="text" placeholder="Your Name" id="contactName">
                  <input class="u-full-width" type="email" placeholder="Your Email" id="contactEmail">
                  <input class="u-full-width" type="text" placeholder="Subject" id="contactSubject">
                  <textarea class="u-full-width" placeholder="Message…" id="contactMessage"></textarea>
                  <input class="button tallBtn button-primary u-full-width" type="submit" value="SEND">
                </div>
              </div>
            </form>

        </div><!-- /.single300 -->
      </div><!-- /.row -->
    </article><!-- /.containter -->

  </header><!-- /HEADER -->

  <section class="contactImg">
    <article class="container">
      <div class="row">
        <div class="one column"></div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>


    {% include "./footer.html" %}

{% endblock %}
