{% extends "./layout.html" %}

{% set title = "Welcome to the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="downloadHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row">
          <div class="one-half column u-pull-left center">
            <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
            <p><strong>You have arrived at Download Central!</strong></br>Find our FREE downloadable Journey Kit below.</p>
              <h2><i class="fa fa-angle-down textRev50"></i></h2>
            </p>
          </div><!-- /.column -->
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

  <section class="drkBrwnSection">
    <article class="container">
      <div class="row">
        <div class="two-thirds column left">
          <span style="float:left;">
            <span class="tooltiptext">
            <img style="max-height:300px;position:absolute;left:-150px;top:-20px;" class="hvr-bob left tooltip" src="images/tcpjk-journey-compass.svg" alt="Journey Compass"></span>
            <img style="max-height:280px;position:absolute;left:190px;top:-20px;" class="hvr-bob left tooltip" src="images/tcpjk-passport-journal.svg" alt="Passport Journal">
            <img style="max-height:280px;position:absolute;left:10px;top:-20px;" class="hvr-bob left tooltip" src="images/tcpjk-travel-guide-tc.svg" alt="Travel Guide, TC">
          </span>
        </div>
        <div class="one-third column right centerDiv">
          <h5 class="textRev upper">Get Journey Kit!</h5>
          <p class="textRev">Download Journey Kit that includes: Travel Guide, TC, Journey Compass, Passport Journal and Scavenger Hunt instructions to kick-off journey!</p>
            <a class="button button-wht" href="#">Download</a><a class="button button-primary" href="#">Delivered</a>
          <p class="textRev">Purchased Journey Kits include the above, plus items to complete journal entries, fun stickers, along with a sweet treat!</p>
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>

  <section class="prplSection">
    <article class="container">
      <div class="row">
        <div class="one-third column bluSection" style="height:300px;width:300px;margin:0">
          <img style="height:90%;" class="hvr-buzz-out" src="images/tcpjk-travel-guide-tc.svg" alt="Travel Guide, TC">
        </div>
        <div class="one-third column grnSection" style="height:300px;width:300px;margin:0">
          <img style="height:105%;" class="hvr-buzz-out" src="images/tcpjk-journey-compass.svg" alt="Travel Guide, TC">
        </div>
        <div class="one-third column yllwSection" style="height:300px;width:300px;margin:0">
          <img class="hvr-buzz-out" src="images/tcpjk-passport-journal.svg" alt="Travel Guide, TC">
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>

  <div class="triangleBlu" style="left:27%;"></div>
  <div class="triangleGrn" style="left:48.5%;"></div>
  <div class="triangleYllw" style="right:27%;"></div>

  <section class="whtSection">
    <article class="container">
      <div class="row">
        <div class="one-third column center whtSection" style="min-height:250px;min-width:300px;margin:0;padding:3rem;">
          <h6 class="textOrg">STEP 1</h6>
            <p class="textDrkBrwn50">Cut-out, color and take your Travel Guide, TC (Traveling Christian) along to fun destinations. Make sure to snap your picture with him while you're there!</p>
        </div>
        <div class="one-third column center whtSection" style="min-height:250px;min-width:300px;margin:0;padding:3rem;">
          <h6 class="textOrg">STEP 2</h6>
            <p class="textDrkBrwn50">Let the Journey Compass guide you to your next adventure. Choose a number between 1–10, count to that number and see what destination idea is revealed!</p>
        </div>
        <div class="one-third column center whtSection" style="min-height:250px;min-width:300px;margin:0;padding:3rem;">
          <h6 class="textOrg">STEP 3</h6>
            <p class="textDrkBrwn50">Finally, use the Passport Journal to reflect and record all of your fun and pictures. Post those journals online, here at the <a href="blog">Journey Blog</a> to collect Travel Tokens!</p>
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>


    {% include "./footer.html" %}

{% endblock %}
