{% extends "./layout.html" %}

{% set title = "Get the Journey Kit!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="downloadHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row">
          <div class="one-half column left center">
            <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
            <p><strong>You have arrived at Download Central!</strong></br>Find our downloadable Journey Kit below.</p>
              <h2><i class="fa fa-angle-down textRev50"></i></h2>
            </p>
          </div><!-- /.column -->
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

  <section class="drkBrwnSection">
    <article class="container">
      <div class="row">
        <div class="two-thirds column left">
          <img style="max-height:50%;" title="Journey Kit" class="hvr-bob" src="images/tcpjk-journey-kit.svg" alt="Journey Kit">
        </div>
        <div class="one-third column center">
          <h5 class="textRev upper ls125">Get Journey Kit!</h5>
          <p class="textRev">Download the Journey Kit which includes: Travel Guide, TC, Journey Compass, Passport Journal and Scavenger Hunt instructions to kick-off journey!</p>
            <a class="button button-wht u-full-width" href="#">Download</a><a class="button button-primary u-full-width" style="margin-bottom:3rem;}" href="#">Delivered</a>
          <p class="textRev">Delivered Journey Kits include the above, plus items to complete journal entries, fun stickers, along with a sweet treat, delivering right to your doorstep!</p>
        </div>
      </div><!-- /.row -->
      <h5 class="textYllw"><span class="textOrg">No printer, ink or time?</span> Purchase printed, constructed Journey Kits that deliver straight to your doorstep! Great for parties, classes and group activities! Now, how to use it…</h5>
    </article><!-- /.containter -->
  </section>

  <section class="drkBrwnSection">
    <article class="container">
      <div class="row">
        <div class="one-third column orgSection mobile-wide" style="height:300px;width:300px;margin:0;text-align:center;">
          <img style="max-width:300px;max-height:300px" title="TCP Journey Kit" src="images/tcp-journeykit-1.jpg" alt="Delivered Journey Kit">
        </div>
        <div class="one-third column orgSection mobile-wide" style="height:300px;width:300px;margin:0;text-align:center;">
          <img style="max-width:300px;max-height:300px" title="TCP Journey Kit" src="images/tcp-journeykit-2.jpg" alt="Delivered Journey Kit">
        </div>
        <div class="one-third column orgSection mobile-wide" style="height:300px;width:300px;margin:0;text-align:center;">
          <img style="max-width:300px;max-height:300px" title="TCP Journey Kit" src="images/tcp-journeykit-3.jpg" alt="Delivered Journey Kit">
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>

  <section class="whtSection">
    <article class="container">
      <div class="row">
        <div class="one-third column bluSection mobile-wide" style="height:300px;width:300px;margin:0;text-align:center;">
          <img style="max-height:90%;" class="hvr-buzz-out" title="Travel Guide, TC" src="images/tcpjk-travel-guide-tc.svg" alt="Travel Guide, TC">
        </div>
        <div class="one-third column grnSection mobile-wide" style="height:300px;width:300px;margin:0;text-align:center;">
          <img style="max-height:105%;" class="hvr-buzz-out" title="Journey Compass" src="images/tcpjk-journey-compass.svg" alt="Journey Compass">
        </div>
        <div class="one-third column yllwSection mobile-wide" style="height:300px;width:300px;margin:0;text-align:center;">
          <img style="max-height:100%;" class="hvr-buzz-out" title="Passport Journal" src="images/tcpjk-passport-journal.svg" alt="Passport Journal">
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>

  <div class="triangleBlu mobile-hide" style="left:27%;"></div>
  <div class="triangleGrn mobile-hide" style="left:48.5%;"></div>
  <div class="triangleYllw mobile-hide" style="right:27%;"></div>

  <section class="whtSection">
    <article class="container">
      <div class="row">
        <div class="one-third column center whtSection" style="min-height:250px;min-width:300px;margin:0;padding:3rem;">
          <h6 class="textOrg">STEP 1</h6>
            <p class="textDrkBrwn50">Cut-out, color and take your Travel Guide, TC (Traveling Christian) along to fun destinations. Make sure to snap your picture with him while you're there!</p>
        </div>
        <div class="one-third column center whtSection" style="min-height:250px;min-width:300px;margin:0;padding:3rem;">
          <h6 class="textOrg">STEP 2</h6>
            <p class="textDrkBrwn50">Let the Journey Compass guide you to your next adventure. Choose a number between 1–10, count to that number and see what destination idea is revealed! Use our handy <a href="search">Destination Search</a> to find directions and more!</p>
        </div>
        <div class="one-third column center whtSection" style="min-height:250px;min-width:300px;margin:0;padding:3rem;">
          <h6 class="textOrg">STEP 3</h6>
            <p class="textDrkBrwn50">Finally, use the Passport Journal to reflect and record all of your fun and pictures. Post those journal entries online, here at the <a href="journeyblog">Journey Blog</a> to collect Travel Tokens!</p>
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>

  <section class="downloadImg">
    <article class="container">
      <div class="row">
        <div class="one column"></div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>


    {% include "./footer.html" %}

{% endblock %}
