{% extends "./layout.html" %}

{% set title = "Edit Passport Profile" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header>

    {% include "./navbar.html" %}

    <article class="container">
      <div class="myPassport editPassport row mobile-wide" style="min-height:500px;">
        <div class="six columns">
          <div class="passportPicDiv">
            {% if user.photo and user.provider_id == "0" %}
              <img class="passportPic" src="/images/profile-images/{{user.photo}}" alt="Traveler Pic">
            {% elseif user.photo and user.provider_id != "0" %}
              <img class="passportPic" src="{{user.photo}}" alt="Traveler Pic">
            {% else %}
              <img class="passportPic" src="/images/profile-images/avatar.jpg" alt="Traveler Pic">
            {% endif %}
            <a>Change Profile Image</a>
          </div>
            <h5 class="large textOrg">Edit Passport Profile</h5></br>
            <form class="editPassportProfile">
              <label>Parent / Guardian / Educator: </label>
              <input placeholder="First Name" type="text" name="first_name">
              <input placeholder="Last Name" type="text" name="last_name">
              <input placeholder="Email" type="email" name="email">
              <input placeholder="Phone" type="tel" name="address_tel">
              <input placeholder="Birthday" type="date" name="birthday">
              <input placeholder="Street Address" type="text" name="address_street">
              <input placeholder="City" type="text" name="address_city">
              <input placeholder="ST" type="text" name="address_state">
              <input placeholder="Zip" type="text" name="address_zip">
              <input type="file" name="profile_img_upload">
            </form>
        </div>
        <div class="six columns travelerColumn">
          <div class="travelers">
            {% for traveler in user.travelers %}
            <p class="travelerInfo">
              <span><b>First Name: </b>{{ traveler.name }}</span>
              <span><b>Birthday: </b>12-27-1995</span>
              <span><b>Gender: </b>{{ traveler.gender }}</span>
              {% if user.photo and user.provider_id == "0" %}
                <img src="/images/profile-images/{{user.photo}}" alt="Traveler Pic">
              {% elseif user.photo and user.provider_id != "0" %}
                <img src="{{user.photo}}" alt="Traveler Pic">
              {% else %}
                <img src="/images/profile-images/avatar.jpg" alt="Traveler Pic">
              {% endif %}
            </p>
            {% endfor %}
          </div>
      </div><!-- /.row -->
      <div class="passportFooter">
        <hr class="bpDivider">
        <footer>
          <button form="passport-profile-form" type="submit" class="button button-primary profile-update-button">Update</button>
          <a href="#!" class="button-outline" data-close="Close" data-dismiss="modal">Cancel</a>
        </footer>
      </div>
    </article><!-- /.containter -->

  </header><!-- /HEADER -->



    {% include "./footer.html" %}

{% endblock %}
