{% extends "./layout.html" %}
{% set title = "Edit Passport Profile" %}

{% block content %}
<!-- .container is main centered wrapper -->
  <header>
    {% include "./navbar.html" %}
    <article class="container">
      <div class="myPassport editPassport row mobile-wide" style="min-height:500px;">
        <div class="six columns parentColumn">
          <div class="passportPicDiv">
            {% if user.photo and user.provider_id == "0" or user.has_local_photo == true %}
              <img class="passportPic" src="/images/profile-images/{{user.photo}}" alt="Parent Pic">
            {% elseif user.photo and user.provider_id != "0" %}
              <img class="passportPic" src="{{user.photo}}" alt="Parent Pic">
            {% else %}
              <img class="passportPic" src="/images/profile-images/avatar.jpg" alt="Parent Pic">
            {% endif %}
            <a>Change Profile Image</a>
          </div>
            <h5 class="large textOrg">Edit Passport Profile</h5><br />
            <form id="editPassportProfile" class="editPassportProfile" method="post" enctype="multipart/form-data"></form>
            <label>Parent / Guardian / Educator: </label>
            <input value="{{ user.first_name }}" form="editPassportProfile" placeholder="First Name" class="traveler-first-name" type="text" name="first_name">
            <input value="{{ user.last_name }}" form="editPassportProfile" placeholder="Last Name" type="text" name="last_name">
            <select form="editPassportProfile" name="parent_gender">
              <option value="Female" {% if traveler.parent_gender == 'Female' %}selected{% endif %}>Female</option>
              <option value="Male" {% if traveler.parent_gender == 'Male' %}selected{% endif %}>Male</option>
            </select>
            <input value="{{ user.email }}" form="editPassportProfile" placeholder="Email" type="email" name="email">
            <input value="{{ user.address.phone }}" form="editPassportProfile" placeholder="Phone" type="tel" name="address_tel">
            <span>DOB: </span><input form="editPassportProfile" placeholder="Birthday" type="date" name="parent_birthday" value="{{ user.parent_birthday | dateFormat }}">
            <input value="{{ user.address.street }}" form="editPassportProfile" placeholder="Street Address" type="text" name="address_street">
            <input value="{{ user.address.city }}" form="editPassportProfile" placeholder="City" type="text" name="address_city">
            <input value="{{ user.address.state }}" form="editPassportProfile" placeholder="ST" type="text" name="address_state">
            <input value="{{ user.address.zip }}" form="editPassportProfile" placeholder="Zip" type="text" name="address_zip">
            <input form="editPassportProfile" type="file" name="profile_img_upload">
        </div>
        <div class="six columns travelerColumn">
          <div class="travelers">
            <label>Travelers / Children / Students: </label>

            <!-- Existing travelers -->
            {% for traveler in user.travelers %}
              <div class="travelerEdit" data-traveler-index="{{loop.index0}}">
                <div>
                  {% if traveler.photo %}
                    <img src="/images/traveler-images/{{traveler.photo}}" alt="Traveler Pic">
                  {% else %}
                    <img src="/images/profile-images/avatar.jpg" alt="Traveler Pic">
                  {% endif %}
                  <a>Change</a>
                </div>
                <select form="editPassportProfile" class="traveler-gender" name="travelers[{{loop.index0}}][gender]">
                  <option value="Female" {% if traveler.gender == 'Female' %}selected{% endif %}>Female</option>
                  <option value="Male" {% if traveler.gender == 'Male' %}selected{% endif %}>Male</option>
                </select>
                <input form="editPassportProfile" value="{{ traveler.name }}" placeholder="First Name" type="text" class="traveler-first-name" name="travelers[{{loop.index0}}][name]">
                <i class="fa fa-plus-circle addTravelerButton" aria-hidden="true"></i><i class="fa fa-minus-circle deleteTravelerButton" aria-hidden="true"></i>
                <input form="editPassportProfile" placeholder="Birthday" type="date" class="traveler-birthday" name="travelers[{{loop.index0}}][birthday]" value="{{ traveler.birthday | dateFormat }}"><span>DOB: </span>
                <input form="editPassportProfile" type="file" name="travelers[{{loop.index0}}][profile_img_upload]" class="traveler-photo-field">
              </div>
            {% endfor %}

            <!-- Extra empty one for additional travelers -->
            <div class="travelerEdit" data-traveler-index="{{user.travelers.length}}">
              <div>
                <img src="/images/profile-images/avatar.jpg" alt="Traveler Pic">
                <a>Change</a>
              </div>
              <select form="editPassportProfile" class="traveler-gender" name="travelers[{{user.travelers.length}}][gender]">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
              </select>
              <input form="editPassportProfile" value="{{ traveler.name }}" placeholder="First Name" class="traveler-first-name" type="text" name="travelers[{{user.travelers.length}}][name]">
              <i class="fa fa-plus-circle addTravelerButton" aria-hidden="true"></i><i class="fa fa-minus-circle deleteTravelerButton" aria-hidden="true"></i>
              <input form="editPassportProfile" placeholder="Birthday" type="date" class="traveler-birthday" name="travelers[{{user.travelers.length}}][birthday]"><span>DOB: </span>
              <input form="editPassportProfile" type="file" class="traveler-photo-field" name="travelers[{{user.travelers.length}}][profile_img_upload]">
            </div>
          </div>
      </div><!-- /.row -->
      <div class="passportFooter">
        <hr class="bpDivider">
        <footer>
          <button form="editPassportProfile" type="submit" class="button button-primary profile-update-button">Update</button>
          <a href="/mypassport" class="button-outline">Cancel</a>
        </footer>
      </div>
    </article><!-- /.containter -->
  </header><!-- /HEADER -->

  {% include "./footer.html" %}
{% endblock %}

{% block extra_scripts %}
  <script src="/javascripts/editpassportprofile.js"></script>
{% endblock %}
