{% extends "./layout.html" %}

{% set title = "Explore the World!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="exploreHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row mobile-wide">
          <div class="column mobile-wide">
              <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
              <p class="large">Explore the World!</p>
          </div>
          <!-- <div class="one-half column right"></div> -->
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

    <section class="yllwSection">
      <article class="container">
        <div class="row mobile-wide">
          <div class="two columns"></div>
          <div class="nine columns left u-full-width">
            <h5 class="textOrg">Explore the World Program</h5>
            <p><b>What is Traveling Children Project's Explore the World Program?</b></p>
            <p>Unfortunately in this world not every child is equally exposed to the same level of opportunities. At Traveling Children Project we want to change this reality… one child at a time. The Explore the World Program is a grant based program that allows children from at-risk communities and schools to have opportunities to take advantage of these wonderful learning adventures and aspire beyond their circumstance.</p>
            <p>Parents, guardians, mentors and organizations can submit applications on behalf of a single underprivileged child, up to a large group of underprivileged children for consideration of sponsorship through this program. Application would collect the financial data to qualify each child, while also inquiring on the 12 destinations each child would like to explore–up to 2 destinations from each destination category.</p>
            <a class="button tallBtn button-primary u-full-width" href="#"><em>C<span class="lower">lick here to apply for a child to join the </em></span><span class="upper">Explore the World Program</span></a>
          </div>
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section>


    {% include "./footer.html" %}

{% endblock %}
