<footer class="drkBrwnSection">
  <div class="container">
    <div class="row">
      </br>
        <a class="footItem" href="#">Contact</a>
        <a class="footItem" href="#">Passports</a>
        <a class="footItem" href="#">Explore</a>
        <a class="footItem" href="#">Sponsorship Opportunities</a>
        <a class="footItem" href="#">Travel Shop</a>
        <a class="footItem" href="#">Terms of Service</a>
        </br>
        </br>
        </br>
        </br>
        <h4 class="wordmark"><a href="#">Traveling Children Project</a></h4>
        <p class="textLtBrwn ls25"> SOCIAL MEDIA AVENUES</p>
        <ul class="soc">
          <li><a class="soc-facebook" target="_blank" href="https://www.facebook.com/TravelingChristian/"></a></li>
          <li><a class="soc-twitter" target="_blank" href="https://twitter.com/KiDFRONTATiON"></a></li>
          <li><a class="soc-pinterest" target="_blank" href="https://www.pinterest.com/TCJourneys/"></a></li>
          <li><a class="soc-instagram" target="_blank" href="https://www.instagram.com/travelingchristian/"></a></li>
          <li><a class="soc-vimeo soc-icon-last" target="_blank" href="https://vimeo.com/channels/tcpvideos"></a></li>
        </ul>
      </br>
      </br>
      </br>
      <small class="textLtBrwnc">© 2016 Traveling Children Project, LLC. All rights reserved.</small>
    </div><!-- /.row -->
  </div><!-- /.containter -->
</footer>
