{% extends "./layout.html" %}

{% set title = "Welcome to Traveling Children Project! A travel activity for children and entire family." %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="homeHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row mobile-wide">
          <div class="one-half column right center">
            <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
            <p><strong>Welcome to the Traveling Children Project!</strong><b> <br />Your passport to fun experiences.</b>
              Join the journey of the Traveling Children Project by reading your way to new and fun experiences, writing about them in the journal and parents can choose to share those experiences online with family and friends! 🧡
            </p>
            <!-- <p><strong>Welcome to the Traveling Children Project!</strong><b> <br />Your passport to fun experiences!</b>
              Join the journey and collect Travel Tokens that will reward you with fun prizes and great discounts to awesome destinations.
            </p> -->
          </div><!-- /.column -->
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

    <section class="whtSection">
      <article class="container">
        <h5 class="textOrg hvr-wobble-vertical">After sign up, here’s how to join the journey… both online and offline <i class="fa fa-angle-down"></i></h5>
        <div class="row mobile-wide">
          <div class="one-half column left">
            <h4>ONLINE</h4>
            <h5>1. Download Journey Kit.</h5>
            <small class="textDrkBrwn">Click DOWNLOAD to get Journey Kit and construct.</small>
            <h5>2. Meet weekly reading goals.</h5>
            <small class="textDrkBrwn">Track reading minutes with the handy Reading Logs.</small>
            <h5>3. Visit fun destinations.</h5>
            <small class="textDrkBrwn">Reward reading by traveling to fun destinations and snap a pic with TC.</small>
            <h5>4. Post adventures online.</h5>
            <small class="textDrkBrwn">Share travelers reading achievements and journeys online.</small>
          </div>
          <div class="one-half column right center"><i class="fa fa-wifi hvr-buzz-out"></i></div>
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section>

    <section class="orgSection">
      <div class="triangleWht" style="left: 18%"></div>
      <article class="container">
        <div class="row mobile-wide">
          <div class="one-half column left center"><i class="fa fa-scissors hvr-buzz-out"></i></div>
          <div class="one-half column right">
            <h4 class="textRev">OFFLINE</h4>
            <h5 class="textRev">1. Printout Journey Kit.</h5>
            <small class="textRev">Cut and color TC, then construct compass and passport.</small>
            <h5 class="textRev">2. Meet weekly reading goals.</h5>
            <small class="textRev">Track reading minutes with the handy Reading Logs.</small>
            <h5 class="textRev">3. Use Journey Compass.</h5>
            <small class="textRev">Reward reading by traveling to destinations and snap a pic with TC.</small>
            <h5 class="textRev">4. Write in Passport Journal.</h5>
            <small class="textRev">Travelers reflect and record experiences in Passport Journal.</small>
          </div>
        </div><!-- /.row -->
        <h5 class="textYllw hvr-wobble-horizontal">It’s not JUST about the destination, but also enjoying the journey along the way! </h5>
      </article><!-- /.containter -->
    </section>

    <section class="whtSection">
      <div class="triangleOrg" style="right: 18%"></div>
      <article class="container">
        <h6 class="textDrkBrwn25 center">ESTABLISHMENTS WE INVITE TO COME JOIN THE JOURNEY!</h6>
        <!-- <h6 class="textDrkBrwn25 center">THANK YOU TO OUR SPONSORS</h6> -->
        <div class="row mobile-wide">
          <img class="hvr-bob" src="/images/sponsors/disney.svg" alt="Disney logo" width="150">
          <img class="hvr-bob" src="/images/sponsors/fhfc.svg" alt="Florida Hospital for Children logo" width="250">
          <img class="hvr-bob" src="/images/sponsors/mcdonalds.svg" alt="McDonalds logo" width="200">
          <img class="hvr-bob" src="/images/sponsors/toysrus.svg" alt="Toys R Us logo" width="200">
          <br>
          <br>
            <!-- <div class="my-slider">
	            <ul>
		            <li></li>
		            <li></li>
		            <li></li>
                <li></li>
	            </ul>
            </div> -->
            <!-- /.my-slider -->
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section>

    {% include "./footer.html" %}

{% endblock %}
