{% extends "./layout.html" %}

{% set title = "Join the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="homeHero">

    <div class="container">
      <div class="row">
        <nav class="navbar tweleve columns">
          <div class="container">
            <div class="two-thirds column u-pull-left">
              <h4 class="wordmark u-pull-left">Traveling Children Project</h4>
              <a class="navItem" href="#">Download</a>
              <a class="navItem" href="#">Search</a>
              <a class="navItem" href="#" disabled>Blog</a>
              <a class="navItem" href="#">About</a>
            </div><!-- /.two-thirds column -->
            <div class="one-third column u-pull-right">
              <a class="button" href="#"><strong>Sign In</strong></a>
              <a class="button button-wht" href="#"><strong>Sign Up</strong></a>
            </div><!-- /.one-third column -->
          </div><!-- /.container -->
        </nav>
      </div><!-- /.row -->
    </div><!-- /.container -->

      <div class="container">
        <div class="row">
          <div class="one-half column left"></div>
          <div class="one-half column right u-pull-right">
            <img class="tcpCrest" src="images/tcp-crest-yllw.svg" alt="TCP Logo">
            <p><strong>Welcome to the Traveling Children Project!</strong></br><b>Your passport to fun experiences!</b>
Join the journey and collect Travel Tokens that will reward you
with fun prizes and great discounts to awesome destinations.</p>
          </div>
        </div><!-- /.row -->
      </div><!-- /.containter -->

    </div><!-- /.containter -->

  </header><!-- /HEADER -->

    <section class="whtSection">
      <div class="container">
        <p>After Sign Up, here’s how to join the journey… online and offline  </p>
        <div class="row">
          <div class="one-half column left">1/2</div>
          <div class="one-half column right">1/2</div>
        </div><!-- /.row -->
      </div><!-- /.containter -->
    </section>

    <section class="orgSection">
      <div class="container">
        <div class="row">
          <div class="one-half column left">1/2</div>
          <div class="one-half column right">1/2</div>
        </div><!-- /.row -->
      </div><!-- /.containter -->
    </section>

    <section class="whtSection">
      <div class="container">
        <div class="row">
          <div class="tweleve columns">1 col</div>
        </div><!-- /.row -->
      </div><!-- /.containter -->
    </section>

    <footer class="brwnSection">
      <div class="container">
        <div class="row">
          <div class="tweleve columns">1 col</div>
        </div><!-- /.row -->
      </div><!-- /.containter -->
    </footer>


{% endblock %}
