{% extends "./layout.html" %}

{% set title = "Join the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="homeHero">

    <div class="container">
      <div class="row">
        <nav class="navbar tweleve columns">
          <div class="container">
            <div class="two-thirds column">
              <span><h4 class="wordmark u-pull-left"><a href="#">Traveling Children Project</a></h4></span>
              <span>
              <a class="navItem" href="#">Download</a>
              <a class="navItem" href="#">Search</a>
              <a class="navItem" href="#" disabled>Blog</a>
              <a class="navItem" href="#">About</a>
              </span>
            </div><!-- /.two-thirds column -->
            <div class="one-third column">
              <a class="button" href="#"><strong>Sign In</strong></a>
              <a class="button button-wht" href="#"><strong>Sign Up</strong></a>
            </div><!-- /.one-third column -->
          </div><!-- /.container -->
        </nav>
      </div><!-- /.row -->
    </div><!-- /.container -->

      <div class="container">
        <div class="row">
          <div class="one-half column left">
          </div><!-- /.column -->
          <div class="one-half column right">
            <img class="tcpCrest" src="images/tcp-crest-yllw.svg" alt="TCP Logo">
            <p><strong>Welcome to the Traveling Children Project!</strong></br><b>Your passport to fun experiences!</b>
Join the journey and collect Travel Tokens that will reward you
with fun prizes and great discounts to awesome destinations.</p>
          </div><!-- /.column -->
        </div><!-- /.row -->
      </div><!-- /.containter -->

  </header><!-- /HEADER -->

    <section class="whtSection">
      <div class="container">
        <h5 class="textOrg centerDiv">After sign up, here’s how to join the journey… online and offline <i class="fa fa-angle-down"></i></h5>
        <div class="row">
          <div class="one-half column left">
            <h5>ONLINE</h5>
            <h5>1. Download the Journey Kit.</h5>
            <small>Click Download to get the Journey Kit and construct.</small>
            <h5>2. Use our Destination Search.</h5>
            <small>Find information about destinations you want to visit.</small>
            <h5>3. Visit a fun new destination.</h5>
            <small>Journey to destination, have fun and snap a pic with TC.</small>
            <h5>4. Create post at the Journey Blog.</h5>
            <small>Receive Travel Tokens when sharing your passport to the Journey Blog.</small>
          </div>
          <div class="one-half column right centerDiv"><i class="fa fa-wifi"></i></div>
        </div><!-- /.row -->
      </div><!-- /.containter -->
    </section>

    <section class="orgSection">
      <div class="container">
        <div class="row">
          <div class="one-half column left"><i class="fa fa-scissors"></i></div>
          <div class="one-half column right">
            <h5 class="textRev">OFFLINE</h5>
            <h5 class="textRev">1. Printout the Journey Kit.</h5>
            <small class="textRev">Cut and color TC, then construct compass and passport.</small>
            <h5 class="textRev">2. Use the Journey Compass.</h5>
            <small class="textRev">Find your next adventure using the compass for journey ideas.</small>
            <h5 class="textRev">3. Snap pics with TC.</h5>
            <small class="textRev">Journey to destination and say “cheese” with Travel Guide, TC.</small>
            <h5 class="textRev">4. Write in Passport Journal.</h5>
            <small class="textRev">Later, reflect and record your experience in the passport.</small>
          </div>
        </div><!-- /.row -->
        <h5 class="textYllw centerDiv">It’s not JUST about the destination, but also enjoying the journey along the way! </h5>
      </div><!-- /.containter -->
    </section>

    <section class="whtSection">
      <div class="container">
        <h5 class="textDrkBrwn25 centerDiv">THANK YOU TO OUR SPONSORS</h5>
        <div class="row">
          <div class="tweleve columns">
            <h1 class="textDrkBrwn50 centerDiv">Logo1 &nbsp&nbsp Logo2 &nbsp&nbsp Logo3 &nbsp&nbsp Logo4</h1>
          </div>
        </div><!-- /.row -->
      </div><!-- /.containter -->
    </section>

    <footer class="drkBrwnSection">
      <div class="container">
        <div class="row">
          <div class="tweleve columns centerDiv">
          </br>
            <a class="footItem" href="#">Contact</a>
            <a class="footItem" href="#">Passports</a>
            <a class="footItem" href="#">Explore</a>
            <a class="footItem" href="#">Sponsorship Opportunities</a>
            <a class="footItem" href="#">Travel Shop</a>
            <a class="footItem" href="#">Terms of Service</a>
            </br>
            </br>
            </br>
            </br>
            <h4 class="wordmark"><a href="#">Traveling Children Project</a></h4>
            <p class="textLtBrwn ls25"> SOCIAL MEDIA AVENUES</p>
            </br>
            <ul class="soc">
              <li><a class="soc-facebook" href="https://www.facebook.com/TravelingChristian/"></a></li>
              <li><a class="soc-twitter" href="https://twitter.com/KiDFRONTATiON"></a></li>
              <li><a class="soc-pinterest" href="https://www.pinterest.com/TCJourneys/"></a></li>
              <li><a class="soc-instagram" href="https://www.instagram.com/travelingchristian/"></a></li>
              <li><a class="soc-vimeo soc-icon-last" href="https://vimeo.com/channels/tcpvideos"></a></li>
            </ul>
          </br>
          </br>
          </br>
          <p class="textLtBrwn">© 2016 Traveling Children Project, LLC. All rights reserved.</p>
          </div>
        </div><!-- /.row -->
      </div><!-- /.containter -->
    </footer>


{% endblock %}
