<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Traveling Children Project is an activity where kids receive a Journey Kit, via download or delivery, and visit various kid-friendly, family-fun destinations. Journey Kits include a welcome letter with journey instructions, travel guide —— Traveling Christian (or TC) for destination selfie pics, a paper compass for getting journey ideas, and passport journal for writing about all the fun experiences. Delivered Journey Kits also include crayons, pencils, scissors, sharpener, and eraser for completing activities, plus fun stickers and a sweet treat, too!"/>
    <meta name="keywords" content="traveling children, kids travel, journey, positive, kid activity, child activity, parent guide, experience, craft, DIY, hands-on, learning, educational, social studies, science, coloring, coloring pages, drawing, writing, class activity, school activity, camp activity, journal writing, creative writing, kids party game, kids game, online game, online activity, offline activity, token, rewards, gift for kids, birthday parties, birthday party, birthday party idea, goodie bag, scavenger hunt, travel guide, tour guide, traveling christian"/>
    <meta property="og:title" content="A fun journey for kids, lasting memories for all! | Traveling Children Project"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.TravelingChildrenProject.com/public/images/fun-destination-1.jpg"/>
    <meta property="og:url" content="http://www.TravelingChildrenProject.com/"/>
    <meta property="og:description" content="Journey Kits are downloadable or deliverable to your doorstep and include: welcome letter with instructions, travel guide, paper compass, passport journal, scavenger hunt, activities and more!"/>
    <meta property="og:site_name" content="Traveling Children Project"/>

    <!-- Links -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/socicons.css">
    <link rel="stylesheet" href="/stylesheets/unslider.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/hover-min.css">
    <link rel="stylesheet" href="/stylesheets/simplemodal.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  </head>
  <body class="bluStripes">
    {% block content %}
    {% endblock %}
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/modernizr.js"></script>
    <script src="/javascripts/unslider-min.js"></script>
    <script src="/javascripts/masonry.pkgd.min.js"></script>
    <script src="/javascripts/MooTools-Core-1.6.0.js"></script>
    <script src="/javascripts/simplemodal.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
