{% extends "./layout.html" %}

{% set title = "Passport Profile" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header>

    {% include "./navbar.html" %}

    <article class="container">
      <div class="row mobile-wide">
        <div class="myPassport">
          <img class="passportPic" src={{user.photo}} alt="Traveler Pic">
            <h5 class="large textOrg">My Passport Profile</h5></br>
            <p><b>First Name: </b>{{ first_name }}</br>
               <b>Last Name: </b>{{ user.last_name }}</br>
               <b>Email: </b>{{ user.email }}</br>
               <b>Street </b>{{ user.street }}</br>
               <b>City: </b>{{ user.city }}</br>
               <b>State: </b>{{ user.state }}</br>
               <b>Birthday: </b>{{ user.birthday }}</br>
            </p><b>Child's First Name: </b></br>
                <b>Child's Birthday: </b></br>
            <p>
            </p>
            <hr class="bpDivider">
            <a href="#" title="Edit">
              <i class="fa fa-pencil passportEditButton" style="font-size:3rem;"></i>
            </a>
            <a href="/journeys/delete/{{ journey.uuid }}" title="Delete" class="passportDeleteButton">
              <i class="fa fa-close" style="font-size:3.875rem;"></i>
            </a>
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->

  </header><!-- /HEADER -->



    {% include "./footer.html" %}

{% endblock %}
