{% extends "./layout.html" %}

{% set title = "Passport Profile" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header>

    {% include "./navbar.html" %}

    <article class="container">
      <div class="row mobile-wide">
        <div class="single650 center">
          <img style="padding-top:1rem;" class="passportPic hvr-grow-rotate" src={{user.photo}} alt="Traveler Pic">
            <h6 class="large">My Passport Profile</h6>
            <p><b>First Name: </b>{{ user.first_name }}</p>
               <b>Last Name: </b>{{ user.last_name }}</p>
               <b>Email: </b>c{{ user.email }}</p>
               <b>Street </b>{{ user.street }}</p>
               <b>City: </b>{{ user.city }}</p>
               <b>State: </b>{{ user.state }}</p>
               <b>Birthday: </b>{{ user.birthday }}</p>
            </p>
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->

  </header><!-- /HEADER -->



    {% include "./footer.html" %}

{% endblock %}
