<!-- <div class="container"> -->
  <div class="row">
    <nav class="navbar tweleve columns">
      <div class="container">
        <div class="two-thirds column">
          <span>
            <h4 class="wordmark u-pull-left animated rubberBand hvr-pop"><a href="/">Traveling Children Project</a></h4>
          </span>
          <span>
            <a class="navItem" href="/download">Download</a>
            <a class="navItem" href="/search">Search</a>
            <a class="navItem" href="/journeyblog" disabled>Blog</a>
            <a class="navItem" href="/about">About</a>
          </span>
        </div><!-- /.two-thirds column -->
        <div class="one-third column">
          <a class="button" href="#"><strong>Sign In</strong></a>
          <a class="button button-wht" href="#"><strong>Sign Up</strong></a>
        </div><!-- /.one-third column -->
      </div><!-- /.container -->
    </nav>
  </div><!-- /.row -->
</div><!-- /.container -->

<div class="container">
  <div class="row">
    <nav class="navwht tweleve columns">
      <div class="container">
        <div class="two-thirds column">
          <span>
            <h4 class="wordmark u-pull-left hvr-pop"><a href="#">Traveling Children Project</a></h4>
          </span>
          <span><strong>
            <a class="navOrg" href="/download">Download</a>
            <a class="navOrg" href="/search">Search</a>
            <a class="navOrg" href="/journeyblog" disabled>Blog</a>
            <a class="navOrg" href="/about">About</a>
          </strong></span>
        </div><!-- /.two-thirds column -->
        <div class="one-third column">
          <a class="button-outline" href="#"><strong>Sign In</strong></a>
          <a class="button button-primary" href="#"><strong>Sign Up</strong></a>
        </div><!-- /.one-third column -->
      </div><!-- /.container -->
    </nav>
  </div><!-- /.row -->
</div><!-- /.container -->
