<div class="container">
  <div class="row">
    <nav class="navbar tweleve columns">
      <div class="container">
        <div class="two-thirds column">
        {% if user %}
          <span>
            <h4 class="wordmark u-pull-left animated rubberBand hvr-pop"><a href="/">Traveling Children Project</a></h4>
          </span>
          <span>
            <a class="navItem" href="/download">Download</a>
            <a class="navItem" href="/search">Search</a>
            <a class="navItem" href="/journeyblog">Blog</a>
            <a class="navItem" href="/about">About</a>
          </span>
        </div><!-- /.two-thirds column -->
        <!-- SIGN-IN/OUT -->
        <div class="one-third column">
          <a class="button signoutBtn" href="/auth/signout"><strong>Sign Out</strong></a>
            {% if user.traveler_name %}
            <a href="/mypassport"><strong><span class="navTraveler">Traveling<br>{{user.traveler_name}}</span></strong></a>
            {% elseif user.first_name %}
            <a href="/mypassport"><strong><span class="navTraveler">Traveling<br>{{user.first_name}}</span></strong></a>
            {% else %}
            <a href="/mypassport"><strong><span class="navTraveler">Traveler</span></strong></a>
            {% endif %}
          {% if user.profile_id != "0" %}
            <img class="travelerPic" src="{{user.photo}}">
          {% elseif user.profile_id = "" %}
            <img class="travelerPic" src="/images/profile-images/{{user.photo}}">
          {% else %}
            <img class="travelerPic" src="/images/profile-images/avatar.jpg">
          {% endif %}
        {% else %}
          <span>
            <h4 class="wordmark u-pull-left animated rubberBand hvr-pop"><a href="/">Traveling Children Project</a></h4>
          </span>
          <span>
            <a class="navItem" href="/download">Download</a>
            <a class="navItem" href="/search">Search</a>
            <a class="navItem disabled" href="/journeyblog">Blog</a>
            <a class="navItem" href="/about">About</a>
          </span>
        </div><!-- /.two-thirds column -->
        <!-- SIGN-IN/OUT -->
        <div class="one-third column">
          <a class="button" href="/auth/signin"><strong>Sign In</strong></a>
          <a class="button button-wht" href="/auth/signup"><strong>Sign Up</strong></a>
        {% endif %}
        </div>
        <!-- /.one-third column -->
      </div><!-- /.container -->
    </nav>
  </div><!-- /.row -->
</div><!-- /.container -->

<div class="container">
  <div class="row">
    <nav class="navwht tweleve columns">
      <div class="container">
        <div class="two-thirds column">
          {% if user %}
          <span>
            <h4 class="wordmark u-pull-left hvr-pop"><a href="#">Traveling Children Project</a></h4>
          </span>
          <span><strong>
            <a class="navOrg" href="/download">Download</a>
            <a class="navOrg" href="/search">Search</a>
            <a class="navOrg" href="/journeyblog">Blog</a>
            <a class="navOrg" href="/about">About</a>
          </strong></span>
        </div><!-- /.two-thirds column -->
        <!-- SIGN-OUT -->
        <div class="one-third column signout">
          <a class="button-outline signoutBtn" href="/auth/signout"><strong>Sign Out</strong></a>
            {% if user.traveler_name %}
            <a href="/mypassport"><strong><span class="navTraveler">Traveling<br>{{user.traveler_name}}</span></strong></a>
            {% elseif user.first_name %}
            <a href="/mypassport"><strong><span class="navTraveler">Traveling<br>{{user.first_name}}</span></strong></a>
            {% else %}
            <a href="/mypassport"><strong><span class="navTraveler">Traveler</span></strong></a>
            {% endif %}
          <img class="travelerPic" src="/images/profile-images/{{user.photo}}">
        </div>
        <!-- /.one-third column -->
        <!-- SIGN-IN/UP -->
        <div class="one-third column signinup">
          {% else %}
          <span>
            <h4 class="wordmark u-pull-left hvr-pop"><a href="#">Traveling Children Project</a></h4>
          </span>
          <span><strong>
            <a class="navOrg" href="/download">Download</a>
            <a class="navOrg" href="/search">Search</a>
            <a class="navOrg disabled" href="/journeyblog">Blog</a>
            <a class="navOrg" href="/about">About</a>
          </strong></span>
        </div><!-- /.two-thirds column -->
        <!-- SIGN-OUT -->
        <div class="one-third column signout">
          <a class="button-outline" href="/auth/signin"><strong>Sign In</strong></a>
          <a class="button button-primary" href="/auth/signup"><strong>Sign Up</strong></a>
          {% endif %}
        </div>
        <!-- /.one-third column -->
      </div><!-- /.container -->
    </nav>
  </div><!-- /.row -->
</div><!-- /.container -->
