<!-- <div class="container"> -->
  <div class="row">
    <nav class="navbar tweleve columns">
      <div class="container">
        <div class="two-thirds column">
          <span>
            <h4 class="wordmark u-pull-left"><a href="#">Traveling Children Project</a></h4>
          </span>
          <span>
            <a class="navItem" href="#">Download</a>
            <a class="navItem" href="#">Search</a>
            <a class="navItem" href="#" disabled>Blog</a>
            <a class="navItem" href="#">About</a>
          </span>
        </div><!-- /.two-thirds column -->
        <div class="one-third column">
          <a class="button" href="#"><strong>Sign In</strong></a>
          <a class="button button-wht" href="#"><strong>Sign Up</strong></a>
        </div><!-- /.one-third column -->
      </div><!-- /.container -->
    </nav>
  </div><!-- /.row -->
</div><!-- /.container -->

<div class="container">
  <div class="row">
    <nav class="navwht tweleve columns">
      <div class="container">
        <div class="two-thirds column">
          <span>
            <h4 class="wordmark u-pull-left"><a href="#">Traveling Children Project</a></h4>
          </span>
          <span>
            <a class="navOrg" href="#">Download</a>
            <a class="navOrg" href="#">Search</a>
            <a class="navOrg" href="#" disabled>Blog</a>
            <a class="navOrg" href="#">About</a>
          </span>
        </div><!-- /.two-thirds column -->
        <div class="one-third column">
          <a class="button-outline" href="#"><strong>Sign In</strong></a>
          <a class="button button-primary" href="#"><strong>Sign Up</strong></a>
        </div><!-- /.one-third column -->
      </div><!-- /.container -->
    </nav>
  </div><!-- /.row -->
</div><!-- /.container -->
