{% extends "./layout.html" %}

{% set title = "Search Your Next Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="searchHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row mobile-wide">
          <div class="one-half column right center">
            <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-blu.svg" alt="TCP Crest Logo">
            <p><strong>Great! You found the destination search!</strong></br>Now find information about your next journey, including location, pricing, age range, reviews and more. Just scroll below to the <span class="textOrg"><b>ORANGE</b></span> section and begin your seek.</p>
              <h2><i class="fa fa-angle-down textRev25"></i></h2>
          </div><!-- /.column -->
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

  <section class="whtSection">
    <article class="container">
      <h6 class="textDrkBrwn25 center">Become a SPONSOR today — place your message & logo here!</h6>
      <!-- <h6 class="textDrkBrwn25 center">A FEW WORDS FROM OUR SPONSORS</h6> -->

      <div class="row mobile-wide">

        <div class="one-half column">
          <!-- DISNEY AD -->
          <div id="effect-6" class="effects clearfix">
            <div class="img450">
              <img src="images/sponsors/tcp-sponsor-ad-1-450x450.jpg" alt="Disney ad">
                <div class="overlay" style="background:rgba(0,174,239,0.8);">
                  <a href="#" target="" class="expand"><span style="font-weight:800;font-size:150%;line-height:4rem;">"Children must be taught how to think, not what to think."</span> </br>— Margaret Mead, cultural anthropologist
                    <img style="width:90%;margin:auto;" src="images/sponsors/tcp-wordmark-rev.svg" alt="TCP logo"></a>
                  <a class="close-overlay hidden"><b>x</b></br></a>
                </div>
              </div>
            </div>
          </div>

          <div class="one-half column">
            <!-- MCDONALDS AD -->
            <div id="effect-6" class="effects clearfix">
              <div class="img450">
                <img src="images/sponsors/tcp-sponsor-ad-2-450x450.jpg" alt="McDonalds ad">
                  <div class="overlay" style="background:rgba(237,28,36,0.8);">
                    <a href="#" target="" class="expand"><span style="font-weight:800;font-size:150%;line-height:4rem;">"Children are one third of our population and all of our future."</span></br>— Select Panel for the Promotion of Child Health
                      <img style="width:90%;margin:auto;" src="images/sponsors/tcp-wordmark-rev.svg" alt="TCP logo"></a>
                    <a class="close-overlay hidden"><b>x</b></br></a>
                  </div>
                </div>
              </div>
          </div>

      </div><!-- /.row -->

      </br>

      <div class="row mobile-wide">

        <div class="one-third column">
          <!-- FHFC AD -->
          <div id="effect-6" class="effects clearfix">
            <div class="img300">
              <img src="images/sponsors/tcp-sponsor-ad-3-300x300.jpg" alt="Florida Hospital for Children ad">
                <div class="overlay" style="background:rgba(0,90,156,0.8);">
                  <a href="#" target="" class="expand"><span style="font-weight:800;line-height:4rem;"></span> </br><b>"A person's a person, </br>no matter how small."</b></br>— Dr. Seuss
                    <img style="width:90%;margin:auto;" src="images/sponsors/tcp-wordmark-rev.svg" alt="TCP logo"></a>
                  <a class="close-overlay hidden"><b>x</b></br></a>
                </div>
              </div>
            </div>
          </div>

          <div class="one-third column">
            <!-- SANFORD ZOO AD -->
            <div id="effect-6" class="effects clearfix">
              <div class="img300">
                <img src="images/sponsors/tcp-sponsor-ad-5-300x300.jpg" alt="Central Florida Zoo logo">
                  <div class="overlay" style="background:rgba(111,44,145,0.8);">
                    <a href="#" target="" class="expand"></br><b>"Children are great imitators. </br>So give them something </br>great to imitate."</b></br>— Anonymous
                      <img style="width:90%;margin:auto;" src="images/sponsors/tcp-wordmark-rev.svg"  alt="TCP logo"></a>
                    <a class="close-overlay hidden"><b>x</b></br></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="one-third column">
              <!-- TOYS R US AD -->
              <div id="effect-6" class="effects clearfix">
                <div class="img300">
                  <img src="images/sponsors/tcp-sponsor-ad-4-300x300.jpg" alt="Toys R Us logo">
                    <div class="overlay" style="background:rgba(0,166,81,0.8);">
                      <a href="#" target="" class="expand"><span style="font-weight:800;line-height:5rem;"></span></br> <b>"Adults are just </br>outdated children."</b></br>— Dr. Seuss
                        <img style="width:90%;margin:auto;" src="images/sponsors/tcp-wordmark-rev.svg"  alt="TCP logo"></a>
                      <a class="close-overlay hidden"><b>x</b></br></a>
                    </div>
                  </div>
                </div>
              </div>

          </div>
      </div><!-- /.row -->

      </br>

    </article><!-- /.containter -->
  </section>

  <section class="orgSection">
    <article class="container">
      <h5 class="textYllw hvr-bounce-in">Search here for your destination. Make only selections that apply. </h5>
      <div class="row-wide mobile-wide">

        <!-- DESTINATION SEARCH FORM -->
        <div class="column u-full-width">
          <form id="destinationSearch">
            <div id="map"></div>
            <div class="row-wide mobile-wide">

              <div class="six columns">

                <input class="u-full-width" type="text" placeholder="Enter Destination Name (if known)" name="destinationName">

                <select class="u-full-width" name="destinationType">
                  <option value="All">
                    Select Destination Type
                  </option>
                  <option value="bowling_alley">
                    Active: Bowling
                  </option>
                  <option value="gym">
                    Active: Gym
                  </option>
                  <option value="art_gallery">
                    Creative: Art Gallery
                  </option>
                  <option value="amusement_park">
                    Fun: Amusement Park
                  </option>
                  <option value="aquarium">
                    Learning: Aquarium
                  </option>
                  <option value="museum">
                    Learning: Museum
                  </option>
                  <option value="campground">
                    Outdoor: Campground
                  </option>
                  <option value="park">
                    Outdoor: Park
                  </option>
                  <option value="zoo">
                    Outdoor: Zoo
                  </option>
                  <option value="movie_theater">
                    Performance: Movie
                  </option>
                  <option value="book_store">
                    Reading: Book Store
                  </option>
                  <option value="bakery">
                    Tasty: Bakery
                  </option>
                  <option value="cafe">
                    Tasty: Cafe
                  </option>
                  <option value="restaurant">
                    Tasty: Restaurant
                  </option>
                </select>

              </div><!-- /.six.columns -->

              <div class="six columns">

                <input class="u-full-width" type="text" placeholder="Enter Destination Location (ex: Orlando, FL)" name="destinationLocation">

                <select class="u-full-width" name="destinationPricing">
                  <option value="All">Pricing doesn't matter</option>
                  <!-- <option value="Option 2">FREE!!!</option> -->
                  <option value="0">$ – cheap</option>
                  <option value="1">$$ – not too much</option>
                  <option value="2">$$$ – a little more</option>
                  <option value="3">$$$$ – pretty fancy</option>
                  <option value="4">$$$$$ – not cheap</option>
                </select>

                <!-- <select class="u-full-width" id="destinationAge">
                  <option value="Option 1">Select Destination Age Range</option>
                  <option value="Option 2">Infant (birth – 1)</option>
                  <option value="Option 3">Toddler (ages 2 – 4)</option>
                  <option value="Option 4">Child (ages 5 – 12)</option>
                  <option value="Option 5">Teen (ages 13 – 17)</option>
                  <option value="Option 5">Adult (ages 18 – 64)</option>
                  <option value="Option 7">Senior (ages 65+)</option>
                </select>

                <select class="u-full-width" id="destinationGender">
                  <option value="Option 1">Select Destination Gender</option>
                  <option value="Option 2">Female</option>
                  <option value="Option 3">Male</option>
                </select> -->

              </div><!-- /.six.columns -->

              <input class="button button-brown tallBtn u-full-width" type="submit" value="SEARCH">

            </div><!-- /.row -->

          </form>
        </div>
        <ul class="search-grid" id="searchResults"></ul>
      </div><!-- /.row -->
    </article><!-- /.container -->

  </section>

  <section class="searchImg">
    <article class="container">
      <div class="row mobile-wide">
        <div class="one column"></div>
      </div><!-- /.row -->
    </article><!-- /.container -->
  </section>


    {% include "./footer.html" %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPf1Mml7Gd4GlX89yJRjHLIpadKMSE4RM&libraries=places"></script>
  <script src="javascripts/googleplaces.js"></script>
  <script src="javascripts/search.js"></script>
{% endblock %}
