{% extends "./layout.html" %}

{% set title = "Search Your Next Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="searchHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row">
          <div class="one-half column right center">
            <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-blu.svg" alt="TCP Crest Logo">
            <p><strong>Great! You found the destination search!</strong></br>Now find information about your next journey, including location, pricing, age range, reviews and more. Just scroll below to the <span class="textOrg"><b>ORANGE</b></span> section and begin your seek.</p>
              <h2><i class="fa fa-angle-down textRev25"></i></h2>
            </p>
          </div><!-- /.column -->
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

  <section class="whtSection">
    <article class="container">
      <h6 class="textDrkBrwn25 center">A FEW WORDS FROM OUR SPONSORS</h6>

      <div class="row">

        <div class="one-half column">
          <!-- DISNEY AD -->
          <div id="effect-6" class="effects clearfix">
            <div class="img450">
              <img src="images/sponsors/tcp-sponsor-ad-1-450x450.jpg" alt="">
                <div class="overlay" style="background:rgba(0,174,239,0.8);">
                  <a href="http://disney.com/" target="_blank" class="expand"><span style="font-weight:800;font-size:200%;">Best day ever!</span> </br>Celebrating little ladies </br>with BIG hopes, every day.</br>
                    <img style="width:75%;margin:auto;" src="images/sponsors/disney-rev.svg"></a>
                  <a class="close-overlay hidden"><b>x</b></br></a>
                </div>
              </div>
            </div>
          </div>

          <div class="one-half column">
            <!-- MCDONALDS AD -->
            <div id="effect-6" class="effects clearfix">
              <div class="img450">
                <img src="images/sponsors/tcp-sponsor-ad-2-450x450.jpg" alt="">
                  <div class="overlay" style="background:rgba(237,28,36,0.8);">
                    <a href="http://www.mcdonalds.com/" target="_blank" class="expand"><span style="font-weight:800;font-size:200%;"></span>Welcome back to school.</br>
                      <img style="width:65%;margin:auto;" src="images/sponsors/mcdonalds-imlovinit-rev.svg"></a>
                    <a class="close-overlay hidden"><b>x</b></br></a>
                  </div>
                </div>
              </div>
          </div>

      </div><!-- /.row -->

      </br>

      <div class="row">

        <div class="one-third column">
          <!-- FHFC AD -->
          <div id="effect-6" class="effects clearfix">
            <div class="img300">
              <img src="images/sponsors/tcp-sponsor-ad-3-300x300.jpg" alt="">
                <div class="overlay" style="background:rgba(0,90,156,0.8);">
                  <a href="https://www.floridahospital.com/children" target="_blank" class="expand"><span style="font-weight:800;font-size:200%;"></span> </br>You never know who </br>
                    you’ll run into!</br>
                    <img style="width:100%;margin:auto;" src="images/sponsors/fhfc-rev.svg"></a>
                  <a class="close-overlay hidden"><b>x</b></br></a>
                </div>
              </div>
            </div>
          </div>

          <div class="one-third column">
            <!-- TOYS R US AD -->
            <div id="effect-6" class="effects clearfix">
              <div class="img300">
                <img src="images/sponsors/tcp-sponsor-ad-4-300x300.jpg" alt="">
                  <div class="overlay" style="background:rgba(0,166,81,0.8);">
                    <a href="http://www.toysrus.com/" target="_blank" class="expand">Create your own Minecraft world with NEW LEGO Minecraft sets…available at <img style="width:100%;margin:auto;" src="images/sponsors/toysrus-rev.svg"></a>
                    <a class="close-overlay hidden"><b>x</b></br></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="one-third column">
              <!-- SANFORD ZOO AD -->
              <div id="effect-6" class="effects clearfix">
                <div class="img300">
                  <img src="images/sponsors/tcp-sponsor-ad-5-300x300.jpg" alt="">
                    <div class="overlay" style="background:rgba(111,44,145,0.8);">
                      <a href="http://www.centralfloridazoo.org/" target="_blank" class="expand">Providing experiences that excite & inspire children and adults to learn and act on behalf of wildlife.<img style="width:75%;margin:auto;" src="images/sponsors/central-florida-zoo-rev.png"></a>
                      <a class="close-overlay hidden"><b>x</b></br></a>
                    </div>
                  </div>
                </div>
              </div>

          </div>
      </div><!-- /.row -->

      </br>

    </article><!-- /.containter -->
  </section>

  <section class="orgSection">
    <article class="container">
      <h5 class="textYllw hvr-bounce-in">Search here for your destination. Make only selections that apply. </h5>
      <div class="row">

        <!-- DESTINATION SEARCH FORM -->
        <div class="column u-full-width">
          <form>
            <div class="row">
              <div class="six columns">

                <input class="u-full-width" type="text" placeholder="Type Destination Name (only if known)" id="destinationName">

                <select class="u-full-width" id="destinationType">
                  <option value="Option 1">Select Destination Type</option>
                  <option value="Option 2">Active</option>
                  <option value="Option 3">Creative</option>
                  <option value="Option 4">Fun</option>
                  <option value="Option 5">Learning</option>
                  <option value="Option 6">Outdoor</option>
                  <option value="Option 7">Performance</option>
                  <option value="Option 8">Reading</option>
                  <option value="Option 9">Tasty</option>
                  <option value="Option 10">Technology</option>
                </select>

                <input class="u-full-width" type="text" placeholder="Type Destination Location (ex: Orlando, FL)" id="destinationLocation">

              </div><!-- /.six.columns -->

              <div class="six columns">

                <select class="u-full-width" id="destinationPricing">
                  <option value="Option 1">Select Destination Pricing</option>
                  <option value="Option 2">FREE!!!</option>
                  <option value="Option 3">$5 – $10 per person</option>
                  <option value="Option 4">$11 – $20 per person</option>
                  <option value="Option 5">$21 – $30 per person</option>
                  <option value="Option 6">$31 – $40 per person</option>
                  <option value="Option 7">$41 – $50 per person</option>
                  <option value="Option 8">$51+ per person</option>
                </select>

                <select class="u-full-width" id="destinationAge">
                  <option value="Option 1">Select Destination Age Range</option>
                  <option value="Option 2">Infant (birth – 1)</option>
                  <option value="Option 3">Toddler (ages 2 – 4)</option>
                  <option value="Option 4">Child (ages 5 – 12)</option>
                  <option value="Option 5">Teen (ages 13 – 17)</option>
                  <option value="Option 5">Adult (ages 18 – 64)</option>
                  <option value="Option 7">Senior (ages 65+)</option>
                </select>

                <select class="u-full-width" id="destinationGender">
                  <option value="Option 1">Select Destination Gender</option>
                  <option value="Option 2">Female</option>
                  <option value="Option 3">Male</option>
                </select>

              </div><!-- /.six.columns -->

              <input class="button button-brown tallBtn" type="submit" value="SEARCH">

            </div><!-- /.row -->

          </form>
        </div>

      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>

  <section class="searchImg">
    <article class="container">
      <div class="row">
        <div class="one column"></div>
      </div><!-- /.row -->
    </article><!-- /.containter -->
  </section>


    {% include "./footer.html" %}

{% endblock %}
