{% extends "./layout.html" %}

{% set title = "Sign Up for the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header>

    {% include "./nonav.html" %}

    <article class="container">
      <div class="row mobile-wide">
        <div class="single300 center">
          <!-- <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo"> -->
          <h4 class="wordmark">Traveling Children Project</h4>
            <!-- <h6 class="textOrg">Sign In</h6> -->

            <!-- CONTACT FORM -->
            <form class="border" id="signupForm" method="GET" action="/auth/signup" enctype="application/x-www-form-urlencoded">

              <div class="row mobile-wide" style="margin-left:0rem;">
                <div class="columns u-full-width">
                  <a class="button button-facebook u-full-width" href="/auth/facebook">Sign Up with Facebook</a>
                  <a class="button button-twitter u-full-width" href="/auth/twitter">Sign Up with Twitter</a>
                  <hr>
                  <input
                    form="signupForm"
                    class="u-full-width"
                    type="text"
                    placeholder="First Name ( parent / guardian / educator )"
                    name="first_name"
                    id="parentFirstName"
                    value="{{ first_name }}"
                    required>
                  <input
                    form="signupForm"
                    class="u-full-width"
                    type="text"
                    placeholder="Last Name ( parent / guardian / educator )"
                    name="last_name"
                    id="parentLastName"
                    value="{{ last_name }}"
                    required>
                  <input
                    form="signupForm"
                    class="u-full-width"
                    type="email"
                    placeholder="Email ( parent / guardian / educator )"
                    name="email"
                    id="signinEmail"
                    value=""
                    required>
                  <input
                    form="signupForm"
                    class="u-full-width"
                    type="text"
                    placeholder="Traveler First Name ( child's name )"
                    name="traveler_name"
                    id="travelerName"
                    value="{{ child_name }}"
                    required>
                  <input
                    form="signupForm"
                    class="u-full-width"
                    type="password"
                    placeholder="Password"
                    name="password"
                    id="signupPassword"
                    value="{{ password }}"
                    required>
                  <input
                    form="signupForm"
                    class="u-full-width"
                    type="password"
                    placeholder="Confirm Password"
                    name="confirm_password"
                    id="signupPasswordConfirm"
                    value="{{ password }}"
                    required>
                  <input
                    form="signupForm"
                    class="button button-primary btn55 u-full-width"
                    type="submit"
                    value="Sign Up">
                  <small>Already have an account? <a href="/signin">Sign In</a></small>
                </div>
              </div>

            </form>

        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->

  </header><!-- /HEADER -->

{% endblock %}
