{% extends "./layout.html" %}

{% set title = "Welcome to the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header>

    {% include "./nonav.html" %}

    <article class="container">
      <div class="row">
        <div class="single300 center">
          <!-- <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo"> -->
          <h4 class="wordmark">Traveling Children Project</h4>
            <!-- <h6 class="textOrg">Sign In</h6> -->

            <!-- CONTACT FORM -->
            <form class="border">

              <div class="row">
                <div class="columns u-full-width">
                  <a class="button button-facebook u-full-width" href="#">Sign In with Facebook</a>
                  <a class="button button-twitter u-full-width" href="#">Sign In with Twitter</a>
                  <hr>
                  <input class="u-full-width" type="email" placeholder="Email" id="signinEmail">
                  <input class="u-full-width" type="password" placeholder="Password" id="signinPassword">
                  <input class="button button-primary btn55 u-full-width" type="submit" value="Sign In">
                  <small>Don't have an account? <a href="/signup">Sign Up</a> Forgot <a href="#">Password</a>?</small>
                </div>
              </div>

            </form>

        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->

  </header><!-- /HEADER -->

{% endblock %}
