{% extends "./layout.html" %}

{% set title = "Sponsor the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="sponsorshipHero">

    {% include "./navbar.html" %}

      <article class="container">
        <div class="row mobile-wide">
          <div class="column mobile-wide">
              <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
              <p class="large">Welcome to sponsorship!</p>
          </div>
          <!-- <div class="one-half column right"></div> -->
        </div><!-- /.row -->
      </article><!-- /.containter -->

  </header><!-- /HEADER -->

    <section class="whtSection">
      <article class="container">
        <div class="row mobile-wide">
          <div class="two columns"></div>
          <div class="nine columns left u-full-width">
            <h5 class="textOrg">Travel Token Reward Program</h5>
            <p>Venues can become Official Traveling Children Project Destination Token Sponsors when choosing from the following levels of sponsorship by offering discounted admissions as rewards to our Travelers who earn Travel Tokens through posting their journeys at the Journey Blog. Travelers will be able to redeem their Travel Tokens as they are rewarded or they may allow them to accumulate. When a Traveler proceeds to redeem their tokens for rewards, they will have access to 1 destination discount from each of the 4 levels of sponsorship. This equates to 3 Travel Tokens per discount reward.</p>
            <p class="textOrg"><b><span class="upper">LEVELS OF SPONSORSHIP —</span></br>
            Token Sponsors can choose from varying levels of sponsorship that would include:</b></p>
            <p><b>Yellow Token Sponsorship Package: 25% discounted admissions</b></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian</p>
            <p><b>Green Token Sponsorship Package: 50% discounted admissions</b></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Journey Blog page @ 200x200; 4) Sponsor ad has click-able outbound link</p>
            <p><b>Purple Token Sponsorship Package: 75% discounted admissions</b></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Journey Blog page @ 450x450; 4) Sponsor ad on Destination Search page @ 450x450;  5) Sponsor ads have click-able outbound links; 6) 1/4 page, full-color ad on flier included in Journey Kit</p>
            <p><b>Blue Token Sponsorship Package: FREE admissions</b></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Journey Blog page @ 450x450; 4) Large banner sponsor ad on Destination Search page @ 900x400;  5) Sponsor ads have click-able outbound links; 6) Full page, full-color flier ad included in Journey Kit</p>
            <a class="button button-primary tallBtn u-full-width" href="#"><em>C<span class="lower">lick here for </em></span><span class="upper">Travel Token Sponsorship Application</span></a>
          </div>
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section>

    <section class="yllwSection">
      <article class="container">
        <div class="row mobile-wide">
          <div class="two columns"></div>
          <div class="nine columns left u-full-width">
            <h5 class="textOrg">Explore the World Program</h5>
            <p><b>What is the Traveling Children Project – Explore the World Program?</b></p>
            <p>Unfortunately in this world not every child is equally exposed to the same level of opportunities. At Traveling Children Program we want to change this reality… one child at a time. The Explore the World Program is a grant based program that allows children from at-risk communities and schools to have opportunities to take advantage of these wonderful learning adventures and aspire beyond their circumstance.</p>
            <p>Parents, guardians, mentors and organizations can submit applications on behalf of a single underprivileged child, up to a large group of underprivileged children for consideration of sponsorship through this program. Application would collect the financial data to qualify each child, while also inquiring on the 12 destinations each child would like to explore–up to 2 destinations from each destination category.</p>
            <p class="textOrg"><b><span class="upper">LEVELS OF SPONSORSHIP —</span></br>
            Exploration Sponsors can choose from varying levels of sponsorship that would include:</b></p>
            <p><b>Copper Explorer Sponsorship Package (Copper Explore Token): $200 – $300 value</b><br>
            <em>Sponsors only 1 child for a total of 12 destinations to explore over the next year.</em></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian</p>
            <p><b>Bronze Explorer Sponsorship Package (Bronze Explore Token): $1,000 – $1,500 value</b></br>
            <em>Sponsors up to 5 children for a total of 12 destinations to explore over the next year.</em></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Journey Blog page @ 200x200</p>
            <p><b>Silver Explorer Sponsorship Package (Silver Explore Token): $2,000 – $3,000 value</b></br>
            <em>Sponsors up to 10 children for a total of 12 destinations to explore over the next year.</em></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Journey Blog page @ 200x200; 4) Sponsor ad has click-able outbound link</p>
            <p><b>Gold Explorer Sponsorship Package (Gold Explore Token): $4,000 – $6,000 value</b></br>
            <em>Sponsors up to 20 children for a total of 12 destinations to explore over the next year.</em></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Destination Search page @ 300x300; 4) Sponsor ad has click-able outbound link</p>
            <p><b>Platinum Explorer Sponsorship Package (Platinum Explore Token): $10,000 – $15,000 value</b></br>
            <em>Sponsors up to 50 children for a total of 12 destinations to explore over the next year.</em></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Journey Blog page @ 450x450; 4) Sponsor ad on Destination Search page @ 450x450;  5) Sponsor ads have click-able outbound links; 6) 1/4 page, full-color ad on flier included in Journey Kit</p>
            <p><b>Titanium Explorer Sponsorship Package (Titanium Explore Token): $20,000 – $30,000 value</b></br>
            <em>Sponsors up to 100 children for a total of 12 destinations to explore over the next year.</em></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Journey Blog page @ 450x450; 4) Sponsor ad on Destination Search page @ 450x450;  5) Sponsor ads have click-able outbound links; 6) 1/2 page, full-color ad on flier included in Journey Kit</p></br>
            <p><b>Diamond Explorer Sponsorship Package (Diamond Explore Token): $100,000 – $150,000 value</b>
            <em>Sponsors up to 500 children for a total of 12 destinations to explore over the next year.</em></br>
            <b>EXPOSURE:</b> 1) Inclusion of sponsor logo on website Sponsorship Panel; 2) Sponsor logo printed in Passport Journal or backside of Traveling Christian; 3) Sponsor ad on Journey Blog page @ 450x450; 4) Large banner sponsor ad on Destination Search page @ 900x400;  5) Sponsor ads have click-able outbound links; 6) Full page, full-color flier ad included in Journey Kit</p>
            <a class="button tallBtn button-primary u-full-width" href="#"><em>C<span class="lower">lick here for </em></span><span class="upper">Explore the World Sponsorship Application</span></a>
          </div>
        </div><!-- /.row -->
      </article><!-- /.containter -->
    </section>


    {% include "./footer.html" %}

{% endblock %}
