{% extends "./layout.html" %}

{% set title = "Welcome to the Journey!" %}

{% block content %}

<!-- .container is main centered wrapper -->

  <header class="aboutHero">

    {% include "./navbar.html" %}

    <article class="container">
      <div class="row">
        <div class="single450 center">
          <img class="tcpCrest hvr-grow-rotate" src="images/tcp-crest-yllw.svg" alt="TCP Crest Logo">
            <h6 class="textOrg">Terms of Service</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum varius elit, ut sagittis lectus accumsan ut. In aliquet est id ultricies accumsan. Nulla sagittis, mi in faucibus venenatis, tortor magna cursus elit, eu aliquam tellus nibh et nulla. Nam egestas ante et fermentum sagittis. Vivamus iaculis diam eu porttitor tincidunt. Aenean vel blandit purus. Morbi vel elit malesuada, sagittis erat vel, fermentum est.</p>
            <p>Nunc commodo orci nec enim sodales elementum. Aliquam consequat dui eget erat dapibus, sed pretium ipsum laoreet. Donec non augue auctor, molestie odio at, consectetur lacus. Donec ultricies purus vitae condimentum maximus. Maecenas non lacus eu lacus tincidunt porttitor. Maecenas quis consequat quam. Etiam semper volutpat dui, at hendrerit mauris eleifend sed. Mauris ullamcorper, nisi vitae molestie suscipit, augue felis commodo mi, ac molestie lectus mauris porttitor risus. Nunc imperdiet lobortis quam, a lacinia lacus venenatis vel. Duis lacinia laoreet pellentesque. Donec ac est magna. Nullam id velit dolor.</p>
            <p>Etiam quis ligula sollicitudin, placerat ex et, fringilla nunc. Sed placerat euismod volutpat. Suspendisse et neque erat. Vivamus laoreet turpis quam, in eleifend metus gravida et. Nam in efficitur justo. Aliquam semper massa sit amet nisi viverra, in posuere ante posuere. Fusce vitae odio a nisi facilisis scelerisque vel quis lorem. Aliquam convallis dignissim metus nec varius. Cras congue fringilla lorem, tristique pulvinar massa congue sit amet. Nullam convallis congue vestibulum. In suscipit volutpat metus efficitur varius. Quisque fermentum rutrum diam, rutrum imperdiet erat consequat non. Vivamus scelerisque ligula sapien, vel semper enim interdum ut. Fusce venenatis, purus vitae feugiat pellentesque, ipsum leo congue mauris, vulputate lacinia eros metus sed tortor.</p>
          <img src="images/tcp-reading.svg" style="max-width:65%;" alt="Traveling Christian reading terms of service">
        </div>
      </div><!-- /.row -->
    </article><!-- /.containter -->

  </header><!-- /HEADER -->

    {% include "./footer.html" %}

{% endblock %}
