/*---------- FONTS & SUCH ----------*/

@font-face {
    font-family: 'proxima_novaregular';
    src: url('/fonts/proximanova-regular-webfont.eot');
    src: url('/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('/fonts/proximanova-regularit-webfont.eot');
    src: url('/fonts/proximanova-regularit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regularit-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-regularit-webfont.woff') format('woff'),
         url('/fonts/proximanova-regularit-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regularit-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('/fonts/proximanova-regular-webfont.eot');
    src: url('/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('/fonts/proximanova-regularit-webfont.eot');
    src: url('/fonts/proximanova-regularit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regularit-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-regularit-webfont.woff') format('woff'),
         url('/fonts/proximanova-regularit-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regularit-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novabold';
    src: url('/fonts/proximanova-bold-webfont.eot');
    src: url('/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-bold-webfont.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Simpson_Condensed_Heavy_BoldItalic';
  src: url(/fonts/Simpson_Condensed_Heavy_BoldItalic.ttf);
}

.textRev {
  color: #fff;
}

.textOrg {
  color: #ee6730;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.textYllw {
  color: #fee088;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.textLtBrwn {
  color: #603813;
}

.textDrkBrwn {
  color: #3a2417;
}

.textDrkBrwn25 {
  color: rgba(58,36,23,.25);
}

.textDrkBrwn50 {
  color: rgba(58,36,23,.5);
}

.textDrkBrwn75 {
  color: rgba(58,36,23,.75);
}

.ls25 {
  letter-spacing: .25rem;
}

i.fa-wifi {
  color: #9ddcf9;
  font-size: 25rem;
  text-align: center;
}

i.fa-scissors {
  color: #fff;
  font-size: 25rem;
}

/*------------- UNSLIDER -------------*/

.my-slider {
  margin: 0 auto;
}

/*---------- PAGE ELEMENTS ----------*/

.container {
  text-align: center;
  max-width: 900px;
  /*background-color: red;*/
}

.left {
  /*background-color: red;*/
  text-align: left;
  max-width: 450px;
  min-height: 300px;
  padding: 2rem;
  margin: 0;
}

.right {
  /*background-color: blue;*/
  text-align: left;
  max-width: 450px;
  min-height: 300px;
  padding: 2rem;
  margin: 0;
}

.center {
  /*background-color: green;*/
  text-align: center;
  /*max-width: 450px;*/
  /*min-height: 300px;*/
  vertical-align: middle;
  padding: 2rem;
  margin: 0;
}

div.one-half.column.right {
  margin-top: 5%;
  margin-bottom: 5%;
}

div.one-half.column.left {
  margin-top: 5%;
  margin-bottom: 5%;
}

.row {
  max-width: 900px;
}

.columns {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #603813;
  margin-top: 0;
  margin-bottom: 0;
}

p, small {
  color: #603813;
}

ul {
  list-style: none; }

body {
  font-family: 'proxima_novaregular', Helvetica, Arial, sans-serif;
}

strong, h6, .navItem {
  font-family: 'proxima_novabold', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

a {
  color: #603813;
}

a:hover {
  color: #ee6730;
}

nav {
  position: fixed;
  /*background-color: yellow;*/
}

.navbar {
  padding: 0;
  height: 7rem;
  line-height: 7rem;
  /*top: 1rem;*/
  left: 0;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: .0625rem;
  z-index: 2000;
  text-align: left;
}

.navwht {
  padding: 0;
  height: 7rem;
  line-height: 7rem;
  border-bottom: 1pt solid;
  border-color: #e1e1e1;
  /*top: 1rem;*/
  left: 0;
  font-size: 1.25rem;
  letter-spacing: .0625rem;
  z-index: 2000;
  text-align: left;
  color: #ee6730;
  background-color: rgba(255, 255, 255, 1);;
}

span.navbar {
  vertical-align: middle;
}

.navItem {
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: #fff;
  padding-top: 2.375rem;
  margin: .75rem;
}

.navOrg {
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: #ee6730;
  padding-top: 2.375rem;
  margin: .75rem;
}

a.navItem:hover {
  border-top: 3px solid rgba(255,255,255,.375);
  color: #fff;
}

a.navItem:active {
  border-top: 3px solid #fff;
}

a.navItem:disabled {
  color: rgba(255,255,255,.5);
}

a.navOrg:hover {
  border-top: 3px solid rgba(238,103,48,.1875);
  color: #ee6730;
}

a.navOrg:active {
  border-top: 3px solid #ee6730;
}

a.navOrg:disabled {
  color: rgba(238,103,48,.5);
}

.wordmark {
  font-family: 'Simpson_Condensed_Heavy_BoldItalic', Times, serif;
  color: #ee6730;
  font-weight: 16rem;
  letter-spacing: .0625rem;
  /*margin-right: .25rem;*/
  text-decoration: none;
  height: 6rem;
  line-height: 6rem;
}

h4.wordmark a {
  text-decoration: none;
  color: #ee6730;
}

h4.wordmark a:hover {
  /*color: #f68a50;*/
}

h4.wordmark a:active {
  color: #9e260e;
}

.tcpCrest {
  height: 300px;
  padding-top: 6rem;
  /*margin-left: 5%;*/
}

/*---------- BUTTONS ----------*/

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  border-color: #fff;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #ee6730;
  border-color: #ee6730; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #3a2417;
  border-color: #3a2417; }
  .button.button-wht,
  button.button-wht,
  input[type="submit"].button-wht,
  input[type="reset"].button-wht,
  input[type="button"].button-wht {
    color: #9ddcf9;
    background-color: #fff;
    border-color: #fff; }
  .button.button-wht:hover,
  button.button-wht:hover,
  input[type="submit"].button-wht:hover,
  input[type="reset"].button-wht:hover,
  input[type="button"].button-wht:hover,
  .button.button-wht:focus,
  button.button-wht:focus,
  input[type="submit"].button-wht:focus,
  input[type="reset"].button-wht:focus,
  input[type="button"].button-wht:focus {
    color: #9ddcf9;
    background-color: rgba(255,255,255,0.5);;
    border-color: rgba(255,255,255,0.5); }
    .button-outline,
    button-outline,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
      display: inline-block;
      height: 38px;
      padding: 0 30px;
      color: #ee6730;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #ee6730;
      cursor: pointer;
      box-sizing: border-box; }
    .button-outline:hover,
    button-outline:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button-outline:focus,
    button-outline:focus,
    input[type="submit"]:focus,
    input[type="reset"]:focus,
    input[type="button"]:focus {
      color: #ee6730;
      border-color: #ee6730;
      background-color: rgba(238, 103, 48, 0.25);
      outline: 0; }

/*---------- SECTIONS ----------*/

.triangleWht {
  width: 0;
  height: 0;
  border-top: 24px solid #fff;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  position: absolute;
}

.triangleOrg {
  width: 0;
  height: 0;
  border-top: 24px solid #ee6730;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  position: absolute;
}

.triangleBlu {
  width: 0;
  height: 0;
  border-top: 24px solid #9ddcf9;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  position: absolute;
}

header {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.homeHero {
  background: #9ddcf9 url("/images/fun-destination-1.png") no-repeat center -15rem;
}

.centerDiv {
  padding: 2rem;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  /*background-color: #fff;*/
}

section,
footer, {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  padding: 20rem;
  text-align: center;
}

.footItem {
  font-family: 'proxima_novabold';
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin: .75rem;
  font-size: 1.25rem;
  letter-spacing: .0625rem;
}

i.fa.fa-facebook {
  vertical-align: -.5rem;
}

span.socialFacebook {
  padding: .75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 5rem;
  background-color: #3b5998;
  color: #fff;
  font-size: 2rem;
}

i.fa.fa-twitter {
  vertical-align: -.5rem;
}

span.socialTwitter {
  padding: .75rem;
  padding-left: 1.1875rem;
  padding-right: 1.1875rem;
  border-radius: 5rem;
  background-color: #4099ff;
  color: #fff;
  font-size: 2rem;
}

i.fa.fa-pinterest {
  vertical-align: -.5rem;
}

span.socialPinterest {
  padding: .5rem;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  border-radius: 5rem;
  background-color: #c92228;
  color: #fff;
  font-size: 2.625rem;
}

/*////////// SECTION COLORS //////////*/

.bluSection {
  background-color: #9ddcf9;
}

.whtSection {
  background-color: #fff;
}

.orgSection {
  background-color: #ee6730;
}

.drkBrwnSection {
  background-color: #3a2417;
}

.prplSection {
  background-color: #b0a2cf;
}

.yllwSection {
  background-color: #fee088;
}

.grnSection {
  background-color: #95ce8a;
}

/*---------- HOVER CSS ----------*/

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.05) rotate(7deg);
  transform: scale(1.05) rotate(7deg);
}

/*---------- MEDIA QUIERIES ----------*/

@media (max-width: 500px) {

  .homeHero {
    background: #9ddcf9 url("/images/fun-destination-1.png") no-repeat center 0rem;
  }

  .tcpCrest {
    height: 100%;
    padding-top: 6rem;
  }

  i.fa-wifi, .fa-scissors {
    font-size: 20rem;
    height: 100%;
  }

}

/* Larger than mobile */
@media (min-width: 400px) {



}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
